body {
    background-color: rgba(158, 158, 158, 0.758);
    text-align: center;
    
}


h1 {
    background-color: rgb(255, 255, 255);
   text-align: center;
    
}

p {
    background-color: rgb(255, 255, 255);
    text-align: center;
}